{% extends 'base.html.twig' %}
{% import "macro.html.twig" as macro %}

{% block title %}Accueil{% endblock %}

{% block wallpaper %}
    <div id="wallpaper">
        <img src="{{ asset('image/snowboard-wallpaper.jpg') }}" alt="Image principal">
        <a href="#content">
            <div class="wallpaper_body">
                <h2>Bienvenue sur la communauté SnowTricks</h2>
            </div>
        </a>
        <a href="#content"><i class="arrow_down fas fa-angle-down"></i></a>
    </div>
{% endblock %}

{% block body %}
    {#ARROW UP#}
    <a href="#tricks" id="arrow_up" style="display: none">
        <i class="fas fa-angle-up"></i>
    </a>

    {#BUTTON OPEN MODAL CREATE TRICK#}
    {% if app.user %}
        <div class="col-12 d-flex justify-content-center">
            <div class="button_new" data-toggle="modal" data-target="#new_trick_modal">
                <i class="fas fa-plus pr-2"></i>
                <span>Ajouter une trick</span>
            </div>
        </div>
    {% endif %}

    {#Liste Des trick#}
    <div id="tricks" class="row">
        {% for trick in tricks %}
            {{ macro.trick(trick) }}
        {% endfor %}
    </div>
    <div class="col-12 justify-content-center d-flex text-center">
        <button class="btn btn-primary mb-3" id="more_trick">Voir plus</button>
    </div>

    {#MODAL ADD Trick#}
    <div id="new_trick_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_video_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajout d'une figure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('trick.new') }}">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Donner un nom à la figure" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn-primary btn">Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var trickNumber = {{ tricks|length }};
            var offsetInterval = {{ tricks|length }};

            function getTricks() {
                $.post('{{ path('trick.list') }}', {
                    'offset': trickNumber
                }, function (data) {
                    trickNumber += offsetInterval;
                    $('#tricks').append(data);
                })
            }
            $('#more_trick').on('click', function (e) {
                getTricks()
            });
        });
    </script>
{% endblock %}