{% import "macro/media.html.twig" as media_item %}
<div id="media_picker">

    <div id="media_content" class="row">
        <div class="col-12">
            <i id="close_media" class="fas fa-times"></i>
            {{ form_start(form, {'attr': {'id': 'form_media'}}) }}
            {{ form_widget(form.name) }}
            {{ form_end(form) }}
        </div>
        <div class="col-12 row">
            {% for media in medias %}
                {{ media_item.image(media) }}
            {% endfor %}
        </div>

    </div>

    <script>
        $(document).ready(function() {
            $("#close_media").click(function (){
                $("#media_picker").remove();
            });

            $("#media_name:file").change(function(){
                $(this).prop('disabled', true);
                var input = $(this);
                var formData = new FormData(document.getElementsByName('media')[0]);
                var files = document.getElementById('media_name').files;

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (file.type.match('image.*')) {
                        formData.append('media[name]', file, file.name);
                    }
                }
                $.ajax({
                    type: "POST",
                    url: '{{ path('media.add') }}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    error: function(jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                        input.prop('disabled', false);
                    },
                    success: function(data) {
                        console.log(data);
                        input.prop('disabled', false);
                    }
                });
            });

            $(".media_item .delete").click(function(){
                $(this).prop('disabled', true);
                var input = $(this);
                var id = $(this).attr('itemid');
                var url = $(this).attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        id: id,
                        _method: "DELETE"
                    },
                    error: function(jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                        input.prop('disabled', false);
                    },
                    success: function(data) {
                        input.parent().remove();
                    }
                });
            });
        });
    </script>
</div>