{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <div class="pt-4 row justify-content-md-center">
        <div class="px-3">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'success' ) %}
                        <div class="alert alert-success fade show">{{ flash }}</div>
                    {% elseif ( label == 'error' ) %}
                        <div class="alert alert-danger fade show">{{ flash }}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-12 text-center">
            <h1 class="font-weight-normal">S'enregistrer</h1>
            <p>Veuillez remplire les champs suivant pour vous inscrire sur le site</p>
        </div>

        <div class="col-md-10 mb-3">
            <div class="dropdown-divider"></div>
        </div>

        <div class="col-md-8">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                {{ form_row(form.email) }}
                <button class="btn btn-lg btn-primary" type="submit">S'enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
