{% extends 'security/template.html.twig' %}

{% block title %}S'enregistrer{% endblock %}
{% block description %}Veuillez remplire les champs suivant pour vous inscrire sur le site{% endblock %}
{% block form %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
        <button class="btn btn-lg btn-success" type="submit">S'enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
