<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/favicon.jpg') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('library/bootstrap-4.2.1/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('library/sweetalert2-8.0.5/sweetalert2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        {% block seo %}{% endblock %}
    </head>

    <body>
        <script>
            //Loader
/*            document.body.style.display = 'none';
            window.addEventListener("load", function(e) {
                console.log("Load");
                document.body.style.display = 'unset';
            });*/
        </script>

        {#LOADER AJAX#}
        <div id="ajax_loader">
            <i class="spinner-border text-primary" role="status"></i>
        </div>

        <!-- HEADER OF PAGE -->
        <nav id="nav_desktop" style="display: none" class="align-items-center">
            <h1 class="col-lg-4 d-lg-block d-none mb-0">SnowTricks</h1>
            <img class="col-6 col-lg-4 my-3" id="nav_logo" src="{{ asset('image/nav-logo.jpg') }}">

            <div class="align-items-center col-6 col-lg-4 d-flex" style="justify-content: space-evenly;">
                <a class="current" href="{{ path('home') }}">Accueil</a>
                {% if app.user %}
                    <a href="{{ path('logout') }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('login') }}">Se connecter</a>
                {% endif %}
            </div>
        </nav>
        <!-- MOBILE HEADER -->
        <nav id="nav_mobile" style="display: none">
            <a href="{{ path('home') }}"><i class="fas fa-home"></i></a>
            {% if app.user %}
                <a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            {% elseif not app.user %}
                <a href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </nav>

        {% block wallpaper %}{% endblock %}

        <div id="content" class="container">
            {% block body %}{% endblock %}
        </div>

        <div id="mobile_bottom"></div>

        {% block javascripts %}
            <script src="{{ asset('library/jQuery-3.3.1/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('library/bootstrap-4.2.1/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('library/bootstrap-4.2.1/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('library/sweetalert2-8.0.5/sweetalert2.all.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
