<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/favicon.jpg') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('library/bootstrap-4.2.1/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('library/sweetalert2-8.0.5/sweetalert2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        {% block seo %}{% endblock %}
    </head>

    <body>
        <script>
            //Loader
            document.body.style.display = 'none';
            window.addEventListener("DOMContentLoaded", function(e) {
                console.log("Load");
                document.body.style.display = 'unset';
            });
        </script>

        {#POPUP MESSAGE#}
        {% for message in app.flashes('error') %}
            <div class="fixed_popup toast" data-delay="5000" data-animation="true" data-autohide="true" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Erreur</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <span style="color: red">{{ message }}</span>
                </div>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="fixed_popup toast" data-delay="5000" data-animation="true" data-autohide="true" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Notification</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <span style="color: green">{{ message }}</span>
                </div>
            </div>
        {% endfor %}

        {#LOADER AJAX#}
        <div id="ajax_loader">
            <i class="spinner-border text-primary" role="status"></i>
        </div>

        <!-- HEADER OF PAGE -->
        <nav id="nav_desktop" style="display: none" class="align-items-center">
            <div class="col-lg-4 col-6">
                <h1 class="mb-0">
                    <a href="{{ path('home') }}">
                       SnowTricks
                    </a>
                </h1>
            </div>

            <div class="col-lg-4 d-lg-flex d-none align-items-center justify-content-center">
                <a href="{{ path('home') }}">
                    <img id="nav_logo" src="{{ asset('image/nav-logo.jpg') }}" alt="snowtricks logo">
                </a>
            </div>

            <div class="align-items-center col-6 col-lg-4 d-flex" style="justify-content: space-evenly;">
                <a class="current" href="{{ path('home') }}">Accueil</a>
                {% if app.user %}
                    <a href="{{ path('logout') }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('login') }}">Se connecter</a>
                {% endif %}
            </div>
        </nav>
        <!-- MOBILE HEADER -->
        <nav id="nav_mobile" style="display: none">
            <a href="{{ path('home') }}"><i class="fas fa-home"></i></a>
            {% if app.user %}
                <a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            {% elseif not app.user %}
                <a href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </nav>

        {% block wallpaper %}{% endblock %}

        <div id="content" class="container">
            {% block body %}{% endblock %}
        </div>

        <div id="mobile_bottom"></div>

        <footer class="mt-4">
            <div class="row h-100">
                <div class="align-items-center col-lg-6 col-12 d-flex justify-content-center">
                    <a href="https://openclassrooms.com/fr/projects/42/assignment">
                        OpenClassrooms - Développez de A à Z le site communautaire SnowTricks
                    </a>
                </div>
                <div class="align-items-center col-lg-6 col-12 d-flex justify-content-center">
                    <a href="{{ path('cgu') }}">
                        © Julien FERNANDES. Tous les droits sont réservés.
                    </a>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('library/jQuery-3.3.1/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('library/bootstrap-4.2.1/js/popper.min.js') }}"></script>
            <script src="{{ asset('library/bootstrap-4.2.1/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('library/bootstrap-4.2.1/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('library/sweetalert2-8.0.5/sweetalert2.all.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
