{% extends 'base.html.twig' %}

{% block title %}Editer une figure{% endblock %}

{% block body %}
    <div id="single_thumbnail" class="pt-md-4 position-relative">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <i onclick="media('{{ path('image') }}')" class="fas fa-pen"></i>
        <div class="row position-relative">
            {% if figure.thumbnail.name is defined %}
                <img class="img_responsive" src="{{ asset(asset_media~figure.thumbnail.name) }}">
            {% else %}
                <img class="img_responsive" src="{{ asset("image/default_thumbnail.jpg") }}">
            {% endif %}
            <div class="absolute_center pt-md-4">
                <div class="position-relative">
                    <h1>{{ figure.name }}</h1>
                </div>
            </div>
        </div>
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.tag) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
    </div>

    <a href="{{ path('figure.single', {'id': app.request.get('id')}) }}" class="btn btn-success">Voir</a>

    <form method="post" action="{{ path('figure.delete', {'id': app.request.get('id')}) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}