{% extends 'base.html.twig' %}

{% import "macro/video.html.twig" as videoMacro %}
{% import "macro/image.html.twig" as imageMacro %}

{% block title %}Editer une trick{% endblock %}

{% block body %}
    {{ form_widget(imageForm.files, {'attr': {'class': ''}}) }}
    {{ form_errors(form) }}
    {{ form_start(form, {'attr': {'class': 'row'}}) }}
        <div id="single_thumbnail" class="w-100 pt-md-4 position-relative">
            {% if trick.thumbnail.name is defined %}
                <img class="img_responsive edit_thumbnail" src="{{ asset(asset_media~trick.thumbnail.name) }}">
            {% else %}
                <img class="img_responsive edit_thumbnail" src="{{ asset("image/default_thumbnail.jpg") }}">
            {% endif %}
            <div class="absolute_center">
                <div class="position-relative">
                    {{ form_widget(form.name, {'attr': {'class': 'input_trick_title'} }) }}
                </div>
            </div>
            {% if form %}
                <div class="edit_single pt-md-4">
                    <a><i onclick="imagePicker('{{ form.thumbnail.vars.id }}', false, false)" class="fas fa-edit button_icon"></i></a>
                    {{ imageMacro.select(form.thumbnail, trick.thumbnail, '.edit_thumbnail') }}
                    <i class="fas fa-trash-alt button_icon"></i>
                </div>
            {% endif %}
        </div>
        <div class="col-12 d-flex justify-content-center">
            <span id="seemedia" class="btn btn-primary" style="display: none">Voir les médias</span>
        </div>
        <div id="media" class="row" style="display: none">
            {% for image in trick.images %}
                <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
                    <div class="media position-relative">
                        <img class="img_responsive h-100" src="{{ asset(asset_media ~ image.name)}}" alt="">
                        <div class="edit_single">
                            <div class="fas fa-trash-alt button_icon delete"
                                action="{{ path('image.delete', {'id': image.id}) }}"
                            ></div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
                    {{ videoMacro.show(video) }}
                </div>
            {% endfor %}

            {#Add Media#}
            <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center align-items-center">
                <div class="media p-3">
                    {#{{ imageMacro.select(form.images, trick.images) }}#}
                    {#<i onclick="imagePicker('{{ form.images.vars.id }}', true, false)" class="fas fa-plus button_icon add_media"></i>#}
                    <div tabindex="0" class="add_media" data-toggle="popover" data-html="true" data-placement="top"
                         data-content='
                        <div class="position-relative">
                            <label for="test" class="input_file btn btn-dark">Ajouter des images</label>
                            <input id="test" type="file" multiple>
                            </div>
                        </div>
                        <div class="p-2"></div>
                        <div class="btn btn-dark w-100" data-toggle="modal" href="#link_doctor_modal"
                            id="url_link_doctor_modal" form-open="{{ path('home', {'id': trick.id}) }}"
                            data-target="#video_modal">
                            Ajouter une vidéo
                        </div>
                    '>
                        <i class="fas fa-plus absolute_center"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            {{ form_widget(form.description) }}
        </div>

        <div class="col-12 col-md-6">
                {{ form_row(form.tag) }}
        </div>
        <div class="col-12 col-md-6 position-relative">
            <div class="absolute_center">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>

    {{ form_end(form, {'render_rest': false}) }}

    {#MODAL ADD VIDEO#}
    <div id="video_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_video_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_video_label">Ajout d'une entreprise</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <form
            method="post"
            action="{{ path('trick.delete', {'id': app.request.get('id')}) }}"
            swa-title="Êtes vous sur ?"
            swa-text="Après validation il est impossible de revenire en arrière"
    >
        <button type="submit" class="btn btn-danger swa-confirm">Supprimer</button>
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/image.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "#trick_description",
            setup: function (editor) {
                editor.on('change', function () {
                    tinymce.triggerSave();
                });
                editor.on('blur', function() {
                    editor.save();
                });
            }
        });
        $(document).ready(function() {
            $('.input_trick_title').removeClass('form-control');
            $('*[data-toggle="popover"]').popover({
                trigger: 'focus'
            })
        })
    </script>
    <div class="tooltip" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner"></div>
    </div>
{% endblock %}