{% extends 'base.html.twig' %}
{% import "macro/video.html.twig" as video_show %}

{% block title %}Figure{% endblock %}

{% block body %}
    <div class="row">

        <div id="single_thumbnail" class="w-100 pt-md-4 position-relative">
            {% if figure.thumbnail.name is defined %}
                <img class="img_responsive" src="{{ asset(asset_media~figure.thumbnail.name) }}">
            {% else %}
                <img class="img_responsive" src="{{ asset("image/default_thumbnail.jpg") }}">
            {% endif %}
            <div class="absolute_center pt-md-4">
                <div class="position-relative">
                    <h1>{{ figure.name }}</h1>
                </div>
            </div>
            {% if app.user %}
                <div class="edit_single pt-md-4">
                    <a class="edit" href="{{ path('figure.edit', {'id': figure.id}) }}"><i class="fas fa-edit"></i></a>
                    <form
                            method="post"
                            action="{{ path('figure.delete', {'id': figure.id}) }}"
                            swa-title="Êtes vous sur ?"
                            swa-text="Après validation il est impossible de revenire en arrière"
                    >
                        <button class="fas fa-trash-alt delete swa-confirm"></button>
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </div>
            {% endif %}
        </div>

{#        {% for video in figure.videos %}
            <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
                {{ video_show.youtube(video) }}
            </div>
        {% endfor %}#}

        {% for image in figure.images %}
            <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
                <img class="media img_responsive" src="{{ asset(asset_media ~ image.name)}}" alt="">
            </div>
        {% endfor %}

        <div class="col-12 py-3">
            {{ figure.description|raw }}
        </div>

        <div class="align-items-center col-12 d-flex justify-content-around justify-content-lg-center">
            <div class="descritpion-item">
                {{ figure.publishDate|date('Y-m-d') }}
            </div>

            <div class="descritpion-item">
                {{ figure.tag }}
            </div>

            <div class="descritpion-item">
                {{ figure.lastEdit|date('Y-m-d') }}
            </div>
        </div>
    </div>

{% endblock %}