{% extends 'base.html.twig' %}
{% import "macro.html.twig" as macro %}

{% block title %}Figure{% endblock %}

{% block body %}
    <div id="single_thumbnail" class="row pt-md-4 position-relative">
        {% if trick.thumbnail.name is defined %}
            <img class="img_responsive" src="{{ asset(asset_media~trick.thumbnail.name) }}" alt="{{ trick.thumbnail.alt }}">
        {% else %}
            <img class="img_responsive" src="{{ asset("image/default_thumbnail.jpg") }}" alt="Image non disponible">
        {% endif %}
        <div class="absolute_center pt-md-4">
            <div class="position-relative w-100">
                <h1 class="p-3">{{ trick.name }}</h1>
            </div>
        </div>
        {% if app.user %}
            <div class="edit_single pt-md-4">
                <a class="edit" href="{{ path('trick.edit', {'slug': trick.slug}) }}"><i class="fas fa-edit button_icon"></i></a>
                <form
                        method="post"
                        action="{{ path('trick.delete', {'id': trick.id}) }}"
                        swa-title="Êtes vous sur ?"
                        swa-text="Après validation il est impossible de revenire en arrière"
                        type="DELETE"
                        redirect="true"
                >
                    <button class="fas fa-trash-alt button_icon delete swa-confirm"></button>
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </div>
        {% endif %}
    </div>

    <div class="col-12 d-flex justify-content-center">
        <span id="seemedia" class="btn btn-primary" style="display: none">Voir les médias</span>
    </div>
    <div id="media" class="row" style="display: none">
        {#Images List#}
        {% for image in trick.images %}
            {{ macro.image(image, false) }}
        {% endfor %}
        {#Videos list#}
        {% for video in trick.videos %}
            {{ macro.video(video, false) }}
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12 py-3">
            {{ trick.description|raw }}
        </div>

        <div class="align-items-center col-12 d-flex flex-column flex-md-row justify-content-around justify-content-lg-center">
            <div class="descritpion-item">
                Créé le {{ trick.publishDate|date('Y-m-d') }}
            </div>

            {% if trick.lastEdit is not null %}
                <div class="descritpion-item">
                    Modifiée le {{ trick.lastEdit|date('Y-m-d') }}
                </div>
            {% endif %}

            <div class="descritpion-item">
                Tag : <strong>{{ trick.tag.name }}</strong>
            </div>
        </div>
    </div>

    <div class="dropdown-divider col-12"></div>

    {#COMMENT LIST#}
    <div class="justify-content-center row">
        <div class="col-12 col-lg-10">
            {% if trick.comments|length > 0 %}
                <div id="comments"></div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" action="prev" href="#comments">Précédent</a></li>
                        {% for i in 1..commentPage %}
                            <li class="page-item"><a class="page-link" page="{{ i }}" href="#comments">{{ i }}</a></li>
                        {% endfor %}
                        <li class="page-item"><a class="page-link" action="next" href="#comments">Suivant</a></li>
                    </ul>
                </nav>
            {% else %}
                <p class="text-center text-md-left">Commantaire (0)</p>
            {% endif %}
        </div>
    </div>

    {#COMMENT FORM#}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row justify-content-center row">
            {{ form_errors(commentForm) }}
            {{ form_start(commentForm, {'attr': {'class': 'col-10 text-center py-4'}}) }}
            {% if not app.user %}
                <p class="text-muted">Vous devez être connecté pour poster un commentaire</p>
            {% endif %}
            {{ form_row(commentForm.content) }}
            <button type="submit" class="btn btn-light" {{ (app.user) ? '' : 'disabled="disabled"' }}>Ajouter un commentaire</button>
            {{ form_end(commentForm) }}
        </div>
    {% endif %}

    <script>
        _commentsUrl = "{{ path('trick.comments', {id: trick.id}) }}"
    </script>
{% endblock %}