{% extends 'base.html.twig' %}
{% import "macro/video.html.twig" as videoMacro %}

{% block title %}Figure{% endblock %}

{% block body %}
    <div class="row">

        <div id="single_thumbnail" class="w-100 pt-md-4 position-relative">
            {% if trick.thumbnail.name is defined %}
                <img class="img_responsive" src="{{ asset(asset_media~trick.thumbnail.name) }}">
            {% else %}
                <img class="img_responsive" src="{{ asset("image/default_thumbnail.jpg") }}">
            {% endif %}
            <div class="absolute_center pt-md-4">
                <div class="position-relative">
                    <h1>{{ trick.name }}</h1>
                </div>
            </div>
            {% if app.user %}
                <div class="edit_single pt-md-4">
                    <a class="edit" href="{{ path('trick.edit', {'id': trick.id}) }}"><i class="fas fa-edit button_icon"></i></a>
                    <form
                            method="post"
                            action="{{ path('trick.delete', {'id': trick.id}) }}"
                            swa-title="Êtes vous sur ?"
                            swa-text="Après validation il est impossible de revenire en arrière"
                            type="DELETE"
                            redirect="true"
                    >
                        <button class="fas fa-trash-alt button_icon delete swa-confirm"></button>
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </div>
            {% endif %}
        </div>
        {% for image in trick.images %}
            <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
                <img class="media img_responsive" src="{{ asset(asset_media ~ image.name)}}" alt="">
            </div>
        {% endfor %}

        {% for video in trick.videos %}
            <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
                {{ videoMacro.show(video) }}
            </div>
        {% endfor %}



        <div class="col-12 py-3">
            {{ trick.description|raw }}
        </div>

        <div class="align-items-center col-12 d-flex justify-content-around justify-content-lg-center">
            <div class="descritpion-item">
                {{ trick.publishDate|date('Y-m-d') }}
            </div>

            <div class="descritpion-item">
                {{ trick.tag.name }}
            </div>

            {% if trick.lastEdit is not null %}
                <div class="descritpion-item">
                    {{ trick.lastEdit|date('Y-m-d') }}
                </div>
            {% endif %}
        </div>

        <div class="row">
            {% for comment in trick.comments %}
                <div class="comment_item col-12">
                    <img src="{{ comment.user.profileImage }}" alt="Avatar de {{ comment.user.username }}">
                    <span>{{ comment.publishDate|date("Y-m-d H:i:s", "Europe/Paris") }}</span>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}