{% macro select(form, data, target) %}
    <select id="{{ form.vars.id }}"
            name="{{ form.vars.full_name }}"
            {% if form.vars.multiple == true %} multiple {% endif %}
            {% if form.vars.required == true %} required {% endif %}
            style="display: none;"
            target_item="{{ target }}"
    >
        {% for item in form.vars.choices %}
            {% if data is iterable %}
                {% if item.data in data %}
                    <option value="{{ item.value }}" selected="selected">{{ item.label }}</option>
                {% endif %}
            {% else %}
                {% if data.id is defined %}
                    {% if item.data.id == data.id %}
                        <option value="{{ item.value }}" selected="selected">{{ item.label }}</option>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}

{% macro picker(form) %}
    <div id="media_picker" style="display: none;">
        <div id="media_content">
            {{ form_start(form) }}
                {{ form_widget(form.files) }}
                <script>
                    var inputId = '{{ form.files.vars.id }}';
                    var inputName = '{{ form.files.vars.full_name }}';
                </script>
            {{ form_end(form, {'render_rest': false}) }}
            <div id="media_items" class="card-columns">

            </div>
            <div class="col-12" style="height: 10%">
                <button class="btn btn-danger close_media" save=false>Annuler</button>
                <button class="btn btn-primary close_media" save=true>Valider</button>
            </div>
        </div>
    </div>
    <script>
        var urlImageList = '{{ path('image') }}';
        var urlImageAdd = '{{ path('image.add') }}';
    </script>
{% endmacro %}